In [1]:
import math
import pandas as pd

## Important functions for calculations

In [2]:
import math
def sind(t):
    return math.sin(math.radians(t))
def cosd(t):
    return math.cos(math.radians(t))
def tand(t):
    return math.tan(math.radians(t))
def asind(t):
    return math.degrees(math.asin(t))
def acosd(t):
    return math.degrees(math.acos(t))
def atand(t):
    return math.degrees(math.atan(t))
def decl(n):
    de = 23.45*sind((360*(284+n))/365)
    return de
def ha(st):
    return 15*(12-st)
def theta(beta , delta , gamma , omega , phi):
    ca = sind(phi)*(sind(delta)*cosd(beta)+cosd(delta)*cosd(gamma)*cosd(omega)*sind(beta)) + cosd(phi)*(cosd(delta)*cosd(omega)*cosd(beta)-sind(delta)*cosd(gamma)*sind(beta)) + cosd(delta)*sind(gamma)*sind(omega)*sind(beta)
    return acosd(ca)
def theta_z(delta , gamma , omega , phi):
    return theta(0, delta , gamma ,omega ,phi)
def rb(n, st , beta ,gamma, phi):
    ca = cosd(theta(beta, decl(n), gamma, ha(st),phi))
    caz = cosd(theta_z(decl(n), gamma, ha(st),phi))
    rb = ca/caz
    return rb
def rd(beta):
    return 0.5*(1+cosd(beta))
def rr(beta, rohg):
    return (rohg/2)*(1-cosd(beta))
def thetadash(ng , na , theta):
    return asind(sind(theta)*(na/ng))
def I_total(Ibh,Idh , rb , rd , rr):
    return (Ibh*rb + Idh*rd + (Ibh+Idh)*rr)
def roh1(theta , thetad):
    return pow(sind(thetad-theta),2)/pow(sind(thetad+theta),2)
def roh2(theta , thetad):
    return pow(tand(thetad-theta),2)/pow(tand(thetad+theta),2)
def tau1(roh1 , m):
    return (1-roh1)/(1+roh1*(2*m-1))
def tau2(roh2 , m):
    return (1-roh2)/(1+roh2*(2*m-1))
def tau_a(theta_d,k,delC):
    return math.exp(-(k*delC)/cosd(theta_d))
def alpha(theta):
    up = 0.0106944*(theta-90)*(1-0.254*pow((cosd(theta)/cosd(85)),4*(theta-85)))
    down = pow((theta/95.406),0.9775)-1
    if type(up/down) == complex:
        return 0
    else:
        return up/down
def tau_alp_b(tau,alpha,roh_d):
    return (tau*alpha)/(1-(1-alpha)*roh_d)
def tau_alp_d(theta ,ng,na,m,k,delC,roh_d):
    td = thetadash(ng,na,theta)
    roh_1 = roh1(theta,td)
    roh_2 = roh2(theta,td)
    tau_1 =  tau1(roh_1,m)
    tau_2 =  tau2(roh_2,m)
    taua = tau_a(td,k,delC)
    alp = alpha(theta)
    return tau_alp_b((taua*0.5*(tau_1+tau_2)),alp,roh_d)
def S(Ibh, Idh, rb, rd, rr, tau_b , tau_d):
    return (Ibh*rb*tau_b + (Idh*rd+(Ibh+Idh)*rr)*tau_d)
def fin_eff(U,K,cpst,L):
    m = pow((U/(K*cpst)),0.5)
    return ((math.exp(m*L)-math.exp(-m*L))/(math.exp(m*L)+math.exp(-m*L)))/(m*L)
def collector_eff(U,W,L,F,Do,cb,Di,hci):
    up = 1/U
    down1 = 1/(U*(2*L*F+Do))
    down2 = 1/cb
    down3 = 1/(hci*math.pi*Di)
    return up/(W*(down1+down2+down3))
def hear_removal_factor(mw,cw,U,fd):
    return (mw*cw/U)*(1-math.exp((-U*fd)/(mw*cw)))

## Constants

In [75]:
st = [6,7,8,9,10,11,12,13,14,15,16,17,18]
st_t = [6,7,8,9,10,11,12,13,14,15,16,17,18,'total']
I = [
    [[0,0,147,300,426,509,537,509,426,300,147,0,0],[0,0,56,77,91,98,98,98,91,77,56,0,0]],
    [[0,42,216,391,502,593,621,593,502,391,216,42,0],[0,25,70,91,98,105,105,105,98,91,70,28,0]],
    [[0,105,293,453,593,649,712,649,593,453,293,105,0],[0,49,84,98,105,105,105,105,105,98,84,49,0]],
    [[0,160,356,523,663,747,767,747,663,523,356,160,0],[0,70,91,98,105,112,112,112,105,98,91,70,0]],
    [[42,209,398,565,705,788,816,788,705,565,398,209,42],[42,77,98,105,105,112,112,112,105,105,98,77,42]],
    [[63,230,412,586,705,788,816,788,705,586,412,230,63],[49,77,98,105,112,112,112,112,112,105,98,77,49]],
    [[56,223,405,565,684,767,795,767,684,565,405,223,56],[42,77,98,105,105,112,112,112,105,105,98,77,42]],
    [[28,188,363,530,670,753,781,753,670,530,363,188,28],[35,70,91,105,105,112,112,112,105,105,91,70,35]],
    [[0,119,307,474,607,698,726,698,607,474,307,119,0],[0,63,84,98,105,105,112,105,105,98,84,63,0]],
    [[0,49,223,384,516,593,628,593,516,384,223,49,0],[0,35,77,91,98,105,105,105,98,91,77,35,0]],
    [[0,0,147,300,419,495,523,495,419,300,147,0,0],[0,0,63,84,91,98,98,98,91,84,63,0,0]],
    [[0,0,112,265,391,460,495,460,391,265,112,0,0],[0,0,49,77,91,98,98,98,91,77,49,0,0]]
]

Twi = [14.8, 16.1, 19.4, 22.7, 24.3, 27.5, 28.5, 29.3, 27.9, 26, 21.4, 17.6]
Ta_r = [
    [8.8, 19.7],
    [9.8, 21.2],
    [11.9, 24.4],
    [14.8, 28.5],
    [17.5, 32.2],
    [20.7, 34.9],
    [22, 34.7],
    [22.3, 34.5],
    [20.6, 33.1],
    [18.1, 30.6],
    [14, 25.5],
    [10.3, 21.1]   
]
DR = [98,93,84,71,56,39,23,11,3,0,3,10,21]
avg_d = [17,47,75,105,135,162,198,228,258,288,318,334]

### Variables to be edited

In [21]:
gamma = 20
beta = 40
phi = 30
n_o_c = 1
k = 0.0068
ng = 1.526
na = 1
delC = 4
roh_g = 0.2
U = 5
K = 385
cpst = 0.5/1000
Do= 11/1000
Di= 10/1000
cb = 35
W = 150/1000
mw = 0.015
cw = 4180
hci = 300
twh=55
vw = 250
Twh=55
thta_diff = 20
if n_o_c == 1 :
    roh_d = 0.15
elif n_o_c == 2:
    roh_d = 0.22
elif n_o_c == 3: 
    roh_d = 0.24

# Cheking the manual samples

In [28]:
n = int(input("Enter day number"))
m = int(input("Enter the month"))

#Define empty lists: 

theta_in = []
theta_z_in = []
rb_in = []
I_total_in = []
thetadash_in = []
roh1_in = []
roh2_in = []
tau1_in = []
tau2_in = []
tau_r = []
tau_a_in = []
tau = []
alpha_in = []
tau_a_b_in = []
S_in = []
qu = []

# DIFFUSE
rd_in = rd(beta)
rr_in = rr(beta, roh_g)
tau_a_d_in = tau_alp_d(thta_diff, ng, na, n_o_c, k, delC, roh_d)

# TANK
L = (W-Do)/2
F = fin_eff(U,K,cpst,L)
F_d = collector_eff(U,W,L,F,Do,cb,Di,hci)
FR = hear_removal_factor(mw,cw,U,F_d)
for i in range(len(st)):
    theta_in.append(theta(beta,decl(n),gamma,ha(st[i]),phi))
    theta_z_in.append(theta_z(decl(n),gamma,ha(st[i]),phi))
    if rb(n,st[i],40,20,30) < 0:
        rb_in.append(0)
    else:
        rb_in.append(rb(n,st[i],40,20,30))
    I_total_in.append(I_total(I[m-1][0][i],I[m-1][1][i],rb_in[i],rd(beta),rr(beta,0.2)))
    thetadash_in.append(thetadash(ng,na,theta_in[i]))
    roh1_in.append(roh1(theta_in[i],thetadash_in[i]))
    roh2_in.append(roh2(theta_in[i],thetadash_in[i]))
    tau1_in.append(tau1(roh1_in[i],n_o_c))
    tau2_in.append(tau1(roh2_in[i],n_o_c))
    tau_r.append((tau1_in[i]+tau2_in[i])*0.5)
    tau_a_in.append(tau_a(thetadash_in[i],k,delC))
    tau.append(tau_a_in[i]*tau_r[i])  
    alpha_in.append(alpha(theta_in[i]))
    tau_a_b_in.append(tau_alp_b(tau[i],alpha_in[i],roh_d))
    S_in.append(S(I[m-1][0][i],I[m-1][1][i],rb_in[i], rd_in, rr_in, tau_a_b_in[i], tau_a_d_in))
ta = Ta_r[m-1][1] - DR[0]*(Ta_r[m-1][1]-Ta_r[m-1][0])/100
tw_n = [Twi[m-1]]
if FR*(S_in[0]-U*(Twi[m-1]-ta)) < 0 :
    qu.append(0)
else:
    qu.append(FR*(S_in[0]-U*(Twi[m-1]-ta)))

for i in range(1,len(st)): 
    two = tw_n[i-1]+(qu[i-1]/(mw*cw))
    tw_n.append((two+tw_n[i-1])/2)
    ta = Ta_r[m-1][1] - DR[i]*(Ta_r[m-1][1]-Ta_r[m-1][0])/100
    if FR*(S_in[i]-U*(tw_n[i]-ta)) > 0: 
        qu.append(FR*(S_in[i]-U*(tw_n[i]-ta)))
    else:
        qu.append(0)
Q_daily = sum(qu[1:len(qu)])*(3600/pow(10,6))
Ac = (vw*cw*(Twh-Twi[m-1]))/(Q_daily*pow(10,6))
No_of_tubes = int((Ac/2)/W)

#PUTTING DATA IN DATAFRAMES
data = {"ST":st,
    "Theta":theta_in,
    "ThetaZ":theta_z_in,
    "Rb" :rb_in,
    "I_total" :I_total_in,
    "Theta'" : thetadash_in,
    "roh1": roh1_in,
    "roh2" :roh2_in,
    "tau1" : tau1_in,
    "tau2" : tau2_in,
    "tau R" : tau_r,
    "tau a" : tau_a_in,
    "tau" : tau,
    "alpha" : alpha_in,
    "tau alpha b" :tau_a_b_in,
    "Indiciend solar flux" : S_in,
    "Temp water in" : tw_n,
    "Rate of useful heat gain" : qu
    }
a = pd.DataFrame(data=data)
b = pd.DataFrame(data = {
"Declination angle" : [decl(n)],
"Rd" : [rd_in],
"Rr" : [rr_in],
"tau alpha d" : [tau_a_d_in],
"Length" : [L],
"Fin efficiency" : [F],
"Collector efficiency" : [F_d],
"Heat removal factor" : [FR]
})
c = pd.DataFrame(data = {
    "Area of collector" : [Ac],
    "Q daily" : [Q_daily],
    "Num of tubes" : [No_of_tubes]
})

Enter day number71
Enter the month3

In [29]:
a

,ST,Theta,ThetaZ,Rb,I_total,Theta',roh1,roh2,tau1,tau2,tau R,tau a,tau,alpha,tau alpha b,Indiciend solar flux,Temp water in,Rate of useful heat gain
0,6,76.754817,92.007178,0.000000,0.000000,39.633608,0.453874,0.141020,0.375635,0.752818,0.564226,0.965298,0.544647,0.739507,0.419148,0.000000,19.400000,0.000000
1,7,61.907101,79.130741,2.497248,309.082082,35.317231,0.203566,0.004026,0.661729,0.991981,0.826855,0.967215,0.799746,0.871402,0.710607,226.538331,19.400000,163.956814
2,8,47.057505,66.613957,1.716357,585.886706,28.666479,0.105985,0.007157,0.808342,0.985787,0.897065,0.969476,0.869683,0.920588,0.810271,478.677589,20.707471,376.922295
3,9,32.235041,54.841278,1.468918,764.847207,20.459008,0.065833,0.025233,0.876466,0.950776,0.913621,0.971386,0.887479,0.944911,0.845576,647.958720,23.713231,514.569840
4,10,17.542340,44.509604,1.337050,901.918141,11.391780,0.049043,0.038000,0.906500,0.926782,0.916641,0.972635,0.891557,0.957852,0.859413,774.952009,27.816658,612.777059
5,11,4.576661,36.923653,1.246892,919.590659,2.997301,0.043726,0.042999,0.916212,0.917548,0.916880,0.973130,0.892244,0.963015,0.864037,793.880027,32.703238,617.117394
6,12,13.377679,34.016824,1.173721,947.520895,8.720698,0.046577,0.040251,0.910991,0.922613,0.916802,0.972857,0.891918,0.960144,0.861520,815.899833,37.624429,623.402127
7,13,27.958160,36.923653,1.104891,827.431636,17.892127,0.059337,0.029695,0.887973,0.942322,0.915147,0.971822,0.889361,0.949553,0.850934,704.855143,42.595738,514.556180
8,14,42.761334,44.509604,1.029525,719.555771,26.418140,0.090631,0.012435,0.833801,0.975436,0.904619,0.970085,0.877557,0.929289,0.824247,596.757847,46.699057,409.768472
9,15,57.607164,54.841278,0.930324,520.864079,33.596367,0.165648,0.000088,0.715784,0.999825,0.857804,0.967873,0.830245,0.889867,0.751218,401.886550,49.966748,232.315040
10,16,72.457425,66.613957,0.759375,305.490861,38.669839,0.355443,0.066854,0.475533,0.874671,0.675102,0.965762,0.651988,0.795554,0.535101,190.256345,51.819340,43.474083
11,17,87.292605,79.130741,0.250494,73.172920,40.887548,0.848853,0.682122,0.081752,0.188974,0.135363,0.964661,0.130579,0.347645,0.050319,41.532678,52.166023,0.000000
12,18,102.092699,92.007178,5.981321,0.000000,39.849012,2.060679,5.890451,-0.346550,-0.709743,-0.528147,0.965191,-0.509763,0.000000,-0.000000,0.000000,52.166023,0.000000

In [30]:
b

,Declination angle,Rd,Rr,tau alpha d,Length,Fin efficiency,Collector efficiency,Heat removal factor
0,-4.016824,0.883022,0.023396,0.857869,0.0695,0.960177,0.877714,0.847702

In [31]:
c

   Area of collector    Q daily  Num of tubes
0           2.515026  14.791893             8

# Working on average days

In [116]:
m = int(input("Enter the month\n"))
n = avg_d[m-1]
print("Day number =" , n)

Enter the month
3
Day number = 75

In [117]:
I_total_m = []
S_m = []
Q_m = []
for i in range(10):
    beta = 10*i
    theta_in = []
    theta_z_in = []
    rb_in = []
    I_total_in = []
    thetadash_in = []
    roh1_in = []
    roh2_in = []
    tau1_in = []
    tau2_in = []
    tau_r = []
    tau_a_in = []
    tau = []
    alpha_in = []
    tau_a_b_in = []
    S_in = []
    qu = []

    # DIFFUSE
    rd_in = rd(beta)
    rr_in = rr(beta, roh_g)
    tau_a_d_in = tau_alp_d(thta_diff, ng, na, n_o_c, k, delC, roh_d)

    # TANK
    L = (W-Do)/2
    F = fin_eff(U,K,cpst,L)
    F_d = collector_eff(U,W,L,F,Do,cb,Di,hci)
    FR = hear_removal_factor(mw,cw,U,F_d)
    for i in range(len(st)):
        theta_in.append(theta(beta,decl(n),gamma,ha(st[i]),phi))
        theta_z_in.append(theta_z(decl(n),gamma,ha(st[i]),phi))
        if rb(n,st[i],40,20,30) < 0:
            rb_in.append(0)
        else:
            rb_in.append(rb(n,st[i],40,20,30))
        I_total_in.append(I_total(I[m-1][0][i],I[m-1][1][i],rb_in[i],rd(beta),rr(beta,0.2)))
        thetadash_in.append(thetadash(ng,na,theta_in[i]))
        roh1_in.append(roh1(theta_in[i],thetadash_in[i]))
        roh2_in.append(roh2(theta_in[i],thetadash_in[i]))
        tau1_in.append(tau1(roh1_in[i],n_o_c))
        tau2_in.append(tau1(roh2_in[i],n_o_c))
        tau_r.append((tau1_in[i]+tau2_in[i])*0.5)
        tau_a_in.append(tau_a(thetadash_in[i],k,delC))
        tau.append(tau_a_in[i]*tau_r[i])  
        alpha_in.append(alpha(theta_in[i]))
        tau_a_b_in.append(tau_alp_b(tau[i],alpha_in[i],roh_d))
        S_in.append(S(I[m-1][0][i],I[m-1][1][i],rb_in[i], rd_in, rr_in, tau_a_b_in[i], tau_a_d_in))
    ta = Ta_r[m-1][1] - DR[0]*(Ta_r[m-1][1]-Ta_r[m-1][0])/100
    tw_n = [Twi[m-1]]
    if FR*(S_in[0]-U*(Twi[m-1]-ta)) < 0 :
        qu.append(0)
    else:
        qu.append(FR*(S_in[0]-U*(Twi[m-1]-ta)))

    for i in range(1,len(st)): 
        two = tw_n[i-1]+(qu[i-1]/(mw*cw))
        tw_n.append((two+tw_n[i-1])/2)
        ta = Ta_r[m-1][1] - DR[i]*(Ta_r[m-1][1]-Ta_r[m-1][0])/100
        if FR*(S_in[i]-U*(tw_n[i]-ta)) > 0: 
            qu.append(FR*(S_in[i]-U*(tw_n[i]-ta)))
        else:
            qu.append(0)
    I_total_daily = sum(I_total_in[1:len(I_total_in)])*(3600/pow(10,6))
    S_daily = sum(S_in[1:len(S_in)])*(3600/pow(10,6))
    Q_daily = sum(qu[1:len(qu)])*(3600/pow(10,6))
    Ac = (vw*cw*(Twh-Twi[m-1]))/(Q_daily*pow(10,6))
    No_of_tubes = int((Ac/2)/W)
    I_total_in.append(I_total_daily)
    S_in.append(S_daily)
    qu.append(Q_daily)
    I_total_m.append(I_total_in)
    S_m.append(S_in)
    Q_m.append(qu)

## Putting data in data frames

In [118]:
I_avg = pd.DataFrame(data= {
    "ST":st_t,
    "Beta = 0" : I_total_m[0],
    "Beta = 10" : I_total_m[1],
    "Beta = 20" : I_total_m[2],
    "Beta = 30" : I_total_m[3],
    "Beta = 40" : I_total_m[4],
    "Beta = 50" : I_total_m[5],
    "Beta = 60" : I_total_m[6],
    "Beta = 70" : I_total_m[7],
    "Beta = 80" : I_total_m[8],
    "Beta = 90" : I_total_m[9]
})
S_avg = pd.DataFrame(data= {
    "ST":st_t,
    "Beta = 0" : S_m[0],
    "Beta = 10" : S_m[1],
    "Beta = 20" : S_m[2],
    "Beta = 30" : S_m[3],
    "Beta = 40" : S_m[4],
    "Beta = 50" : S_m[5],
    "Beta = 60" : S_m[6],
    "Beta = 70" : S_m[7],
    "Beta = 80" : S_m[8],
    "Beta = 90" : S_m[9],
})
Q_avg = pd.DataFrame(data= {
    "ST":st_t,
    "Beta = 0" : Q_m[0],
    "Beta = 10" : Q_m[1],
    "Beta = 20" : Q_m[2],
    "Beta = 30" : Q_m[3],
    "Beta = 40" : Q_m[4],
    "Beta = 50" : Q_m[5],
    "Beta = 60" : Q_m[6],
    "Beta = 70" : Q_m[7],
    "Beta = 80" : Q_m[8],
    "Beta = 90" : Q_m[9],
})

In [119]:
I_avg

,ST,Beta = 0,Beta = 10,Beta = 20,Beta = 30,Beta = 40,Beta = 50,Beta = 60,Beta = 70,Beta = 80,Beta = 90
0,6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,7,291.102521,290.964271,290.553724,289.883352,288.973525,287.851888,286.552521,285.114904,283.582719,282.002521
2,8,567.010504,566.945177,566.751182,566.434413,566.004495,565.474490,564.860504,564.181190,563.457191,562.710504
3,9,744.659543,744.752216,745.027418,745.476788,746.086672,746.838539,747.709543,748.673220,749.700289,750.759543
4,10,879.451252,879.714077,880.494569,881.769012,883.498683,885.631026,888.101252,890.834303,893.747138,896.751252
5,11,897.217681,897.565583,898.598720,900.285699,902.575263,905.397844,908.667681,912.285419,916.141137,920.117681
6,12,923.537460,923.981074,925.298436,927.449519,930.368963,933.968062,938.137460,942.750472,947.666934,952.737460
7,13,806.640937,806.988839,808.021976,809.708955,811.998519,814.821100,818.090937,821.708675,825.564393,829.540937
8,14,700.591499,700.854324,701.634816,702.909259,704.638930,706.771273,709.241499,711.974550,714.887385,717.891499
9,15,506.453371,506.546044,506.821246,507.270616,507.880500,508.632367,509.503371,510.467048,511.494117,512.553371
10,16,296.144747,296.079420,295.885425,295.568656,295.138738,294.608733,293.994747,293.315433,292.591434,291.844747
11,17,71.459992,71.321742,70.911195,70.240823,69.330996,68.209359,66.909992,65.472375,63.940190,62.359992
12,18,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
13,total,24.063370,24.068566,24.083995,24.109190,24.143383,24.185537,24.234370,24.288399,24.345983,24.405370

In [120]:
S_avg

,ST,Beta = 0,Beta = 10,Beta = 20,Beta = 30,Beta = 40,Beta = 50,Beta = 60,Beta = 70,Beta = 80,Beta = 90
0,6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,7,131.694835,165.363561,188.257717,202.882100,211.693635,216.435090,218.174628,217.460107,214.421546,208.790160
2,8,391.945229,425.742371,445.276763,456.353813,462.160664,464.319573,463.489207,459.611980,451.885145,438.446037
3,9,587.105488,609.257383,621.554824,628.396386,631.837802,632.693209,630.999562,626.050256,616.009667,596.944526
4,10,727.312572,742.383811,751.024954,756.163854,758.914719,759.492480,757.585112,751.988433,739.698091,714.053821
5,11,755.949113,766.462877,772.895078,776.971771,779.001757,778.937912,776.382722,769.604998,754.306762,720.874858
6,12,781.997739,790.661924,796.126843,799.503417,800.912383,800.169356,796.264631,786.342964,763.942577,714.777737
7,13,679.817772,686.307388,690.029028,691.746509,691.483412,688.580840,681.253558,665.537106,633.012958,566.319313
8,14,580.142652,585.178774,587.383361,587.142707,584.071010,576.846910,562.627968,535.808119,485.863844,395.626010
9,15,401.805699,404.053302,403.334112,399.440730,391.444725,377.435492,354.052260,316.011999,256.803308,173.599401
10,16,212.558487,210.324110,205.218303,196.644117,183.676082,165.176546,140.276754,108.201734,78.879462,68.372175
11,17,50.353331,48.741057,46.540318,43.235899,41.194473,39.246973,38.132286,36.898999,35.584584,34.228981
12,18,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
13,total,19.082458,19.564116,19.827509,19.938533,19.931006,19.797604,19.509259,18.984660,18.109469,16.675319

In [121]:
Q_avg

,ST,Beta = 0,Beta = 10,Beta = 20,Beta = 30,Beta = 40,Beta = 50,Beta = 60,Beta = 70,Beta = 80,Beta = 90
0,6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,7,83.557819,112.098856,131.506272,143.903387,151.372940,155.392280,156.866889,156.261188,153.685395,148.911659
2,8,306.116602,333.801814,349.705183,358.676195,363.346203,365.040460,364.286717,361.020457,354.557467,343.326464
3,9,468.095154,484.972911,494.203972,499.281335,501.788314,502.320324,500.860252,496.795589,488.589674,472.969080
4,10,579.074571,589.379577,595.199179,598.661578,600.498439,600.777108,599.185213,594.709156,584.873481,564.203723
5,11,592.783979,598.877298,602.627674,605.072609,606.236295,605.961652,603.874405,598.548465,586.495437,559.922724
6,12,603.306417,607.625890,610.429537,612.198342,612.796255,611.955153,608.794450,600.983400,583.317259,544.305864
7,13,502.654343,504.984434,506.215536,506.518140,505.678433,503.035110,497.079932,484.620645,458.969688,406.417676
8,14,405.408410,406.427614,406.331097,404.963558,401.771378,395.554032,383.958066,362.507533,322.956504,252.222297
9,15,242.118540,240.739462,238.167718,233.749978,226.491349,214.732379,195.759772,165.522702,119.455033,57.074307
10,16,71.920327,66.788479,60.585116,52.348770,41.120683,25.952728,6.335803,0.000000,0.000000,0.000000
11,17,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
12,18,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
13,total,13.878130,14.204507,14.381897,14.455346,14.439961,14.330596,14.101205,13.755489,13.150440,12.057674